@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}
header{
    background-color: #FF6949;
    color: white;
    
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.headerLeft a{
    text-decoration: none;
    color: white;
    margin-left: 13vh;  
}
.headerLeft a:hover{
    text-decoration:underline 2px;
}
.headerLeft img{
    height: 110px;
    margin-left: 15vh;
}
.headerRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10vh;
}
.headerRight a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 10px;
}
.headerRight a:hover{
    text-decoration:underline 2px;
}
.headerRight img{
    height: 50px;
    border-radius: 50%;
}
.login{
    margin-left: 10vh;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10vh;
}
.rightContent{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 30vh;
}
.leftContent{
    border: 3px solid #FF6949;
    border-radius: 1vh;
    padding: 5vh;

}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headerForm{
    margin-bottom: 5vh;
}
.bodyForm{
    display: flex;
    flex-direction: row;
}
.leftContent{
    color: #FF6949;
    
}
.leftForm{
    display: flex;
    flex-direction: column;
}
.leftForm input,select{
    margin-top: 1vh;
}
.rightForm{
    margin-left: 10vh;
}
.rightForm textarea{
    border: 2px solid #FF6949;
    border-radius: 1vh;
    padding: 1vh;
    outline: 0;
}
form{
    display: flex;
    flex-direction: column;
}
#inputCidade{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #FF6949;
    outline: 0;
}
button {
    position: relative;
    display: inline-block;
    margin: 15px 15vh ;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FF6949;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #FF6949;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #FF6949;
    margin-top: 8vh;
  }
  
 button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #FF6949;
  }
  
  button:active {
    transform: scale(0.9);
  }

  /*footer*/

footer{
    background-color: #FF6949;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.redesSociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}
.footerLeft img{
    height: 7vh;
    margin-left: 5vh;
}
.footerLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    margin-left: 20vh;
}
.inputEmail{
    width: 80vh;
    background-color: aliceblue;
    border-radius: 20vh;
    display: flex;
    color: #FF6949;
    align-items: center;  
    font-size: large;
    padding: 10px;
    margin-top: 7vh;
}
.inputEmail p{
    margin-left: 5vh;
}
.copy{
    margin-top: 8vh;
    text-align: center;
}


/* modal */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
.card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #ffffff;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  }
  
  .header {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: #ffffff;
  }
  
  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEE2E2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
  }
  
  .image svg {
    color: #DC2626;
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title {
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .actions {
    margin: 0.75rem 1rem;
    background-color: #F9FAFB;
  }
  
  .desactivate {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #DC2626;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .cancel {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #374151;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }